{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Detail de tache - {{tache.description }}</h1>
      <div class="d-flex flex-row px-2">
        <a class='mx-2' href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>
        <a class='mx-2' href="{{ path('app_tache_index') }}">back to list</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Projet</th>
                <td><a href="{{ path('app_projet_show', {'id': tache.projet.id}) }}">{{ tache.projet }}</a></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tache.description }}</td>
            </tr>
            <tr>
                <th>Date debut</th>
                <td>{{ tache.dateDebut ? tache.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date achevement</th>
                <td>{{ tache.dateAchevement ? tache.dateAchevement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre heure</th>
                <td>{{ tache.nombreHeure }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ tache.commentaire }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('tache/_delete_form.html.twig') }}
{% endblock %}
