{% extends 'base.html.twig' %}

{% block title %}Statut{% endblock %}

{% block body %}
    <h1>Detail d'entreprise {{ entreprise.nom }}</h1>

    <table class="table mx-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
        </tbody>
    </table>
   
   <br> 
    <div class = "pt-4 px-4">
    <h3>Liste des projets</h3>

        <ul>  
        {% for projet in projets %}

            <li><a href="{{ path('app_projet_show', {'id': projet.id}) }}">{{ projet }}</a></li>

        {% else %}
             <li colspan="3">no records found</li>
        {% endfor %}
        </ul>
    </div>


    <div class = "pb-4 px-4">
    <h3>Liste des employes</h3>

        <ul>  
        {% for employe in employes %}

            <li><a href="{{ path('app_personne_show', {'id': employe.id}) }}">{{ employe }}</a></li>

        {% else %}
             <li colspan="3">no records found</li>
        {% endfor %}
        </ul>
    </div>

    <a href="{{ path('app_entreprise') }}">back to list</a>

    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
