{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    <table class="table mx-3 fs-6">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date projet</th>
                <th>Taux heure, $</th>
                <th>Entreprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td><a href="{{ path('app_projet_show', {'id': projet.id}) }}">{{ projet.nom }}</a></td>
                <td>{{ projet.dateProjet ? projet.dateProjet|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ projet.tauxHeure }}</td>
                <td><a href="{{ path('app_entreprise_detail', {'id': projet.entreprise.id}) }}">{{ projet.entreprise }}</a></td>
                <td>
                    <a href="{{ path('app_projet_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projet_new') }}">Create new</a>
{% endblock %}
