{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>Personne</h1>

    <table class="table mx-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personne.prenom }}</td>
            </tr>
            <tr>
                <th>Prestataire</th>
                <td>{{ personne.isPrestataire ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
  
    {% if personne.isPrestataire %}
    <div class = "pt-4 px-4">
    <h3>Liste des taches</h3>

        <ul>  
        {% for tache in personne.tachesPrestataire %}

            <li><a href="{{ path('app_tache_show', {'id': tache.id}) }}">{{ tache }}</a> - {{tache.laststatut}}</li>

        {% else %}
             <li colspan="3">no records found</li>
        {% endfor %}
        </ul>
         
    </div>

        
    {% endif %}


    <a href="{{ path('app_personne_index') }}">back to list</a>

    <a href="{{ path('app_personne_edit', {'id': personne.id}) }}">edit</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
