{% extends 'base.html.twig' %}

{% block title %}TacheStatut{% endblock %}

{% block body %}
    <h1>Statut de tache - {{tache_statut.tache}}</h1>
      <div class="d-flex flex-row px-2">
        <a class='mx-2' href="{{ path('app_tache_statut_edit', {'id': tache_statut.id}) }}">edit</a>
        <a class='mx-2' href="{{ path('app_tache_statut_new', {'tache_id': tache_statut.tache.id}) }}">change statut</a>
        <a class='mx-2' href="{{ path('app_tache_statut_index') }}">back to list</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache_statut.id }}</td>
            </tr>
            <tr>
                <th>DateChangement</th>
                <td>{{ tache_statut.dateChangement ? tache_statut.dateChangement|date('Y-m-d') : '' }}</td>
                
            </tr>
            <tr>
                <th>Tache</th>
                <td>{{ tache_statut.tache }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ tache_statut.statut}}</td>
            </tr>
        </tbody>
    </table>

    {{ include('tache_statut/_delete_form.html.twig') }}
{% endblock %}
